* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: black;
}
.header {
  display: flex;
  flex-direction: column;
  height: screen;
  gap: 4vw;
  width: 20vw;

  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.167);
}
button {
  margin-top: 10px;
}
.icon {
  width: 10vw;
  overflow: hidden;
  border: none;
  font-size: 1.4rem;
  color: white;
  display: flex;
  gap: 5vw;
  padding: 2px;
}
.option {
  display: none;
}
.logo {
  font-size: 1.9rem;
  width: 10vw;
  margin-right: 1vw;
}
